@{
    Layout = null;
}
@model String

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style type="text/css">
        .section {
            position: relative;
            height: 100vh;
        }

            .section .section-center {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }

        #booking {
            font-family: 'Montserrat', sans-serif;
            background-size: cover;
            background-image: url('https://scienceblog.cut-e.com/wp-content/uploads/2018/01/SB_Fotolia_113867184-1920x1080.jpg');
            background-position: center;
        }

            #booking::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
            }

        .booking-form {
            background-color: #fff;
            padding: 50px 20px;
            -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
            border-radius: 4px;
        }

            .booking-form .form-group {
                position: relative;
                margin-bottom: 30px;
            }

            .booking-form .form-control {
                background-color: #ebecee;
                border-radius: 4px;
                border: none;
                height: 40px;
                -webkit-box-shadow: none;
                box-shadow: none;
                color: #3e485c;
                font-size: 14px;
            }

                .booking-form .form-control::-webkit-input-placeholder {
                    color: rgba(62, 72, 92, 0.3);
                }

                .booking-form .form-control:-ms-input-placeholder {
                    color: rgba(62, 72, 92, 0.3);
                }

                .booking-form .form-control::placeholder {
                    color: rgba(62, 72, 92, 0.3);
                }

            .booking-form input[type="date"].form-control:invalid {
                color: rgba(62, 72, 92, 0.3);
            }

            .booking-form select.form-control {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }

                .booking-form select.form-control + .select-arrow {
                    position: absolute;
                    right: 0px;
                    bottom: 4px;
                    width: 32px;
                    line-height: 32px;
                    height: 32px;
                    text-align: center;
                    pointer-events: none;
                    color: rgba(62, 72, 92, 0.3);
                    font-size: 14px;
                }

                    .booking-form select.form-control + .select-arrow:after {
                        content: '\279C';
                        display: block;
                        -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }

            .booking-form .form-label {
                display: inline-block;
                color: #3e485c;
                font-weight: 700;
                margin-bottom: 6px;
                margin-left: 7px;
            }

            .booking-form .submit-btn {
                display: inline-block;
                color: #fff;
                background-color: #1e62d8;
                font-weight: 700;
                padding: 14px 30px;
                border-radius: 4px;
                border: none;
                -webkit-transition: 0.2s all;
                transition: 0.2s all;
            }

                .booking-form .submit-btn:hover,
                .booking-form .submit-btn:focus {
                    opacity: 0.9;
                }

        .booking-cta {
            margin-top: 80px;
            margin-bottom: 30px;
        }

            .booking-cta h1 {
                font-size: 52px;
                text-transform: uppercase;
                color: #fff;
                font-weight: 700;
            }

            .booking-cta p {
                font-size: 16px;
                color: rgba(255, 255, 255, 0.8);
            }

        * {
            margin: 0;
            padding: 0;
        }

        .rate {
            float: left;
            height: 46px;
            padding: 0 10px;
        }

            .rate:not(:checked) > input {
                position: absolute;
                top: -9999px;
            }

            .rate:not(:checked) > label {
                float: right;
                width: 1em;
                overflow: hidden;
                white-space: nowrap;
                cursor: pointer;
                font-size: 30px;
                color: #ccc;
            }

                .rate:not(:checked) > label:before {
                    content: '★ ';
                }

            .rate > input:checked ~ label {
                color: #ffc700;
            }

            .rate:not(:checked) > label:hover,
            .rate:not(:checked) > label:hover ~ label {
                color: #deb217;
            }

            .rate > input:checked + label:hover,
            .rate > input:checked + label:hover ~ label,
            .rate > input:checked ~ label:hover,
            .rate > input:checked ~ label:hover ~ label,
            .rate > label:hover ~ input:checked ~ label {
                color: #c59b08;
            }
    </style>
</head>

<body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <div class="booking-cta">
                            <h1>Enter Feedback</h1>
                            <p>
                                Our hotels are designed to stimulate those parts of you still open and curious for new experiences and new people. Unique energy, beautiful design, genuine comfort and the opportunity for happy collisions with wonderful strangers. Let your student spirit roam.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-pull-7">
                        <div class="booking-form">
                            <form method="post" action="../Home/Give_Feedback">
                                <div class="form-group">
                                    <span class="form-label">User ID</span>
                                    <input class="form-control" name="Id" type="text" placeholder="abcd123">
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Password</span>
                                    <input class="form-control" name="password" type="password" placeholder="abcd123">
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <span class="form-label">About</span>
                                            <select class="form-control" name="About">
                                                <option value="Room">Room</option>
                                                <option value="Food">Food</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Comment</span>
                                    <textarea class="form-control" name="Comment" placeholder="Comment"></textarea>
                                </div>
                                <span class="form-label">Ratings</span>
                                &nbsp;&nbsp;
                                <div class="form-group">
                                    <div class="rate" style="text-align:right">
                                        <input class="form-control" type="radio" id="star5" name="rate" value="*****" />
                                        <label for="star5" title="Best">5 stars</label>
                                        <input class="form-control" type="radio" id="star4" name="rate" value="****" />
                                        <label for="star4" title="Good">4 stars</label>
                                        <input class="form-control" type="radio" id="star3" name="rate" value="***" />
                                        <label for="star3" title="Fair">3 stars</label>
                                        <input class="form-control" type="radio" id="star2" name="rate" value="**" />
                                        <label for="star2" title="Bad">2 stars</label>
                                        <input class="form-control" type="radio" id="star1" name="rate" value="*" />
                                        <label for="star1" title="Worst">1 star</label>
                                    </div>
                                </div>
                                <br /><br />
                                <div class="form-group">
                                    <div class="form-btn">
                                        <button class="submit-btn">Submit</button><label>@Model</label>
                                    </div>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
