
@{
    Layout = null;
}

<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/css/mdb.min.css" rel="stylesheet">

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/js/mdb.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <!-- Paging-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        #Slogun {
            text-transform: uppercase;
            color: 09355c !important;
            margin: 24px;
            font-family: 'Lobster', cursive;
            text-align: center;
            font-size: 3rem;
            font-weight: 80;
            margin: 4.5rem 0 3rem 0;
            letter-spacing: 3px;
        }

        .nav-colour {
            background-color: 09355c;
            color: white;
            font-family: "BellMTStd-Regular", serif;
            font-size: 3rem;
            font-weight: 40;
        }

        .navbar-brand {
            color: white !important;
            font-family: "BellMTStd-Regular", serif;
            text-align: center;
            font-size: 2rem;
            font-weight: 50;
            letter-spacing: 1px;
        }

        .nav-link {
            color: white !important;
            font-family: "BellMTStd-Regular", serif;
            text-align: center;
            font-size: 2rem;
            font-weight: 50;
            letter-spacing: 1px;
        }
    </style>







</head>


<body style="background-color: #eee;">

    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
        <a class="navbar-brand" href="#">Hotel BeachWood</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-3 active">
                    <a class="nav-link" href="../../Home/index">
                        Home<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="../../Home/RoomType">Rooms</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="../../Home/FoodType">Foods</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="../../Home/Feedback">Feedback</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item ml-3">
                    <a class="nav-link waves-effect waves-light" href="../../Home/SignUP">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link waves-effect waves-light" href="../../Home/SignUP">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
                </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->



    <h3 id="Slogun">A Glorious Stay</h3>

    <div class="container">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src=https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF5dtpUpfALBXwx6bAWX59KA5uoUxGWG4xQfiORd60MYJdCPaS&usqp =CAU alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Comments</h2>
                    <h4 class="card-title">Share your valuable views with us.</h4>
                    <a href="../../Home/Enter_Feedback" class="btn btn-primary stretched-link">Give Feedback Now</a>
                </div>
            </div>
            <div class="card">
                <br /><br />
                <img class="card-img-top" src="https://www.pngitem.com/pimgs/m/76-768106_feedback-icon-png-transparent-png.png" alt="Card image cap">
                <div class="card-body">
                    <br />
                    <h2 class="card-title">Feedback</h2>
                    <h4 class="card-title">Give us overall feedback about the facilities provided by the hotel management.</h4>
                    <a href="../../Home/Enter_Feedback" class="btn btn-primary stretched-link">Give Feedback Now</a>
                </div>
            </div>
            <div class="card">
                <br /><br /><br />
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQS-Y7eOejkl9pv8uY8v9I_AVMrzDe0tBihzxPNR-IxNmmdMZQT&usqp=CAU" alt="Card image cap">
                <div class="card-body">
                    <br /><br />
                    <h2 class="card-title">Ratings</h2>
                    <h4 class="card-title">Give us ratings based on your overall experience while your stay at our hotel.</h4>
                    <br /><br />
                    <a href="../../Home/Enter_Feedback" class="btn btn-primary stretched-link">Give Feedback Now</a>
                </div>
            </div>
        </div>
        <br>

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src=https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR3zX8LTCabaYeVMn0f4s3DQpM5CLybPdCrr3C9TO0QDrkoUL_3&usqp =CAU alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Feedback about food</h2>
                    <h4 class="card-title">Give about food cooked by our professional cooks and and tell us how you enjoyed it.</h4>
                    <a href="../../Home/Enter_Feedback" class="btn btn-primary stretched-link">Give Feedback Now</a>
                </div>
            </div>
            <div class="card">
                <br /><br /><br />
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSCQNBRX8ILEvCoio-Me7siMJ7FnpbQv0QCXXysMn-SwT4Od47H&usqp=CAU" alt="Card image cap">
                <div class="card-body">
                    <br /><br /><br /><br />
                    <h2 class="card-title">Feedback about rooms</h2>
                    <h4 class="card-title">Share your stay in our luxurious rooms with the provided facilities.</h4>
                    <br />
                    <a href="../../Home/Enter_Feedback" class="btn btn-primary stretched-link">Give Feedback Now</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQNBtAdJwcVRnAMhhNZpJeLPhp2vHawae8ijmDfjhcuZJNhpZ-C&usqp=CAU" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Feedback about Staff</h2>
                    <h4 class="card-title">Give feedback about behaviour of our staff while your stay at our hotel.</h4>
                    <a href="../../Home/Enter_Feedback" class="btn btn-primary stretched-link">Give Feedback Now</a>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>

    <div class="w3-bar" style="text-align: center">
        <a href="#" class="w3-button">«</a>
        <a href="#" class="w3-button w3-green">1</a>
        <a href="#" class="w3-button">2</a>
        <a href="#" class="w3-button">3</a>
        <a href="#" class="w3-button">4</a>
        <a href="#" class="w3-button">»</a>
    </div>
    <br>
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

        <div style="background-color: #4f9c87;">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">Get connected with us on social networks!</h6>
                    </div>
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                        </a>
                        <a class="tw-ic">
                            <i class="fab fa-twitter white-text mr-4"> </i>
                        </a>
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g white-text mr-4"> </i>
                        </a>
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in white-text mr-4"> </i>
                        </a>
                        <a class="ins-ic">
                            <i class="fab fa-instagram white-text"> </i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center text-md-left mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">Hotel BeachWood</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Our hotels are designed to stimulate those parts of you still open and curious for new experiences and new people. Unique energy, beautiful design, genuine comfort and the opportunity for happy collisions with wonderful strangers. Let your student spirit roam.</p>

                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">Products</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="../../Home/RoomType">Rooms Categories</a>
                    </p>
                    <p>
                        <a href="../../Home/FoodType">Foods Categories</a>
                    </p>

                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">Important Links</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="../../Home/Login">Login</a>
                    </p>
                    <p>
                        <a href="../../Home/SignUP">Signup</a>
                    </p>

                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> Lahore, LHR 38829, PAK
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> beachwood@hotmail.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> 042-38294302
                    </p>
                    <p>
                        <i class="fas fa-print mr-3"></i> +92-3028492720
                    </p>

                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="../../Home/index"> hotelbeachwood.com</a>
        </div>
    </footer>
    <!-- Footer -->
</body>


</html>
