<!DOCTYPE html>
<html>
<head>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/css/mdb.min.css" rel="stylesheet">

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/js/mdb.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

    <!-- card -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- slider -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .Slogun {
            text-transform: uppercase;
            color: 09355c !important;
            font-family: 'Lobster', cursive;
            margin: 24px;
            text-align: center;
            font-size: 4rem;
            font-weight: 200;
            margin: 4.5rem 0 3rem 0;
            letter-spacing: 3px;
        }

        .about {
            margin: auto;
            font-size: 1.65rem;
            width: 50%;
            border: 3px solid hidden;
            padding: 10px;
        }

        .nav-colour {
            background-color: #09355c;
            color: white;
            font-family: "BellMTStd-Regular", serif;
            font-size: 3rem;
            font-weight: 40;
        }

        .navbar-brand {
            color: white !important;
            font-family: "BellMTStd-Regular", serif;
            text-align: center;
            font-size: 2rem;
            font-weight: 50;
            letter-spacing: 1px;
        }

        .nav-link {
            color: white !important;
            font-family: "BellMTStd-Regular", serif;
            text-align: center;
            font-size: 2rem;
            font-weight: 50;
            letter-spacing: 1px;
        }
    </style>
</head>

<body style="background-color: #eee;">
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
        <a class="navbar-brand" href="#">Hotel BeachWood</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-3 active">
                    <a class="nav-link" href="../../Home/index">
                        Home<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="../../Home/Login">Sign In</a>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item ml-3">
                    <a class="nav-link waves-effect waves-light" href="../../Home/SignUP">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link waves-effect waves-light" href="../../Home/SignUP">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
                </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->



    <h1 class="Slogun">A Glorious Stay</h1>

    <h1 style="text-align: center;"> About Us</h1>

    <p class="about">Our hotels are designed to stimulate those parts of you still open and curious for new experiences and 
    new people. Unique energy, beautiful design, genuine comfort and the opportunity for happy collisions with wonderful 
    strangers. Let your student spirit roam.</p>
    <br>

    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="https://i.pinimg.com/originals/59/2c/0e/592c0ece55c2b84a73aee9e0ea80639e.jpg" style="margin: auto;width:80%;">
                </div>

                <div class="item">
                    <img src="https://www.ecopetit.cat/wpic/mpic/258-2586323_night-bora-bora-wallpapers-download-free-background-bora.jpg" style="margin: auto;width:80%;">
                </div>

                <div class="item">
                    <img src="https://c4.wallpaperflare.com/wallpaper/686/52/945/luxurious-hotel-room-wallpaper-preview.jpg" style="margin: auto;width:80%;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <br>
    <h1 style="text-align: center;">Our Services</h1>
    <p class="about">Following are the services Offered by Beach Wood. We wish you have a Glorious Stay.</p>
    <br><br>



    <div class="container">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Tour Guide</h4>
                    <p class="card-text">We have best tour guides and planners.They will provide you with an unforgettable trip.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTjUR1OI3EadWjkHlxILwNkBc3P5EKTBLyPzzhw346-YEWgk4mG&usqp=CAU" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Catering</h4>
                    <p class="card-text">We have large number of catering staff which will provide you five star service in our hotel.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://us.123rf.com/450wm/oksun70/oksun701507/oksun70150700170/43207340-cute-mother-and-child-boy-play-together-indoors-at-home.jpg?ver=6" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Baby Sitting</h4>
                    <p class="card-text">We also provide you with the facilities of baby sitting.So you enjoy the trip without any hurry.</p>
                </div>
            </div>
        </div>
        <br>

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Restaurant</h4>
                    <p class="card-text">beach Wood restaurant is best in the town.We provide you with a variety of dishes and drinks.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://www.sn1digital.co.uk/wp-content/uploads/2018/07/vip-shuttle-com-chauffeurservice-impressionen-01.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Hire a Driver</h4>
                    <p class="card-text">You can also hire our personal and skilled drivers for your trip.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://media.gettyimages.com/photos/blurred-surface-view-on-blue-swimming-pool-picture-id509109352?b=1&k=6&m=509109352&s=612x612&w=0&h=9dW4V_JopFGWTHv-qyrIkmNvqk86ka2V-uWyOb8GPmk=" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Swimming Pool</h4>
                    <p class="card-text">We also have swimming pool which will add to the refreshment.</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

        <div style="background-color: #4f9c87;">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">Get connected with us on social networks!</h6>
                    </div>
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                        </a>
                        <a class="tw-ic">
                            <i class="fab fa-twitter white-text mr-4"> </i>
                        </a>
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g white-text mr-4"> </i>
                        </a>
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in white-text mr-4"> </i>
                        </a>
                        <a class="ins-ic">
                            <i class="fab fa-instagram white-text"> </i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center text-md-left mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">Hotel BeachWood</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Our hotels are designed to stimulate those parts of you still open and curious for new experiences and new people. Unique energy, beautiful design, genuine comfort and the opportunity for happy collisions with wonderful strangers. Let your student spirit roam.</p>

                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">Products</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="../../Home/RoomType">Rooms Categories</a>
                    </p>
                    <p>
                        <a href="../../Home/FoodType">Foods Categories</a>
                    </p>

                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">Staff Links</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="../../Home/Staff">Login</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> Lahore, LHR 38829, PAK
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> beachwood@hotmail.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> 042-38294302
                    </p>
                    <p>
                        <i class="fas fa-print mr-3"></i> +92-3028492720
                    </p>

                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="../../Home/index"> hotelbeachwood.com</a>
        </div>
    </footer>
    <!-- Footer -->
    <body>
</html>

