@{
    Layout = null;
}
@model String

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style type="text/css">
        .section {
            position: relative;
            height: 100vh;
        }

            .section .section-center {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }

        #booking {
            font-family: 'Montserrat', sans-serif;
            background-size: cover;
            background-image: url('https://data.1freewallpapers.com/download/awesome-indian-food.jpg');
            background-position: center;
        }

            #booking::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
            }

        .booking-form {
            background-color: #fff;
            padding: 50px 20px;
            -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
            border-radius: 4px;
        }

            .booking-form .form-group {
                position: relative;
                margin-bottom: 30px;
            }

            .booking-form .form-control {
                background-color: #ebecee;
                border-radius: 4px;
                border: none;
                height: 40px;
                -webkit-box-shadow: none;
                box-shadow: none;
                color: #3e485c;
                font-size: 14px;
            }

                .booking-form .form-control::-webkit-input-placeholder {
                    color: rgba(62, 72, 92, 0.3);
                }

                .booking-form .form-control:-ms-input-placeholder {
                    color: rgba(62, 72, 92, 0.3);
                }

                .booking-form .form-control::placeholder {
                    color: rgba(62, 72, 92, 0.3);
                }

            .booking-form input[type="date"].form-control:invalid {
                color: rgba(62, 72, 92, 0.3);
            }

            .booking-form select.form-control {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }

                .booking-form select.form-control + .select-arrow {
                    position: absolute;
                    right: 0px;
                    bottom: 4px;
                    width: 32px;
                    line-height: 32px;
                    height: 32px;
                    text-align: center;
                    pointer-events: none;
                    color: rgba(62, 72, 92, 0.3);
                    font-size: 14px;
                }

                    .booking-form select.form-control + .select-arrow:after {
                        content: '\279C';
                        display: block;
                        -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
                    }

            .booking-form .form-label {
                display: inline-block;
                color: #3e485c;
                font-weight: 700;
                margin-bottom: 6px;
                margin-left: 7px;
            }

            .booking-form .submit-btn {
                display: inline-block;
                color: #fff;
                background-color: #1e62d8;
                font-weight: 700;
                padding: 14px 30px;
                border-radius: 4px;
                border: none;
                -webkit-transition: 0.2s all;
                transition: 0.2s all;
            }

                .booking-form .submit-btn:hover,
                .booking-form .submit-btn:focus {
                    opacity: 0.9;
                }

        .booking-cta {
            margin-top: 80px;
            margin-bottom: 30px;
        }

            .booking-cta h1 {
                font-size: 52px;
                text-transform: uppercase;
                color: #fff;
                font-weight: 700;
            }

            .booking-cta p {
                font-size: 16px;
                color: rgba(255, 255, 255, 0.8);
            }
    </style>
</head>

<body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <div class="booking-cta">
                            <h1>Make your order</h1>
                            <p>
                                Our hotels are designed to stimulate those parts of you still open and curious for new experiences and new people. Unique energy, beautiful design, genuine comfort and the opportunity for happy collisions with wonderful strangers. Let your student spirit roam.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-pull-7">
                        <div class="booking-form">
                            <form method="post" action="../Home/RequestForFood">
                                <div class="form-group">
                                    <span class="form-label">User ID</span>
                                    <input class="form-control" name="Id" type="text" placeholder="abcd123">
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Password</span>
                                    <input class="form-control" name="password" type="password" placeholder="abcd123">
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Room Number</span>
                                    <input class="form-control" name="roomid" type="text" placeholder="1234567">
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <span class="form-label">Food</span>
                                            <select class="form-control" name="food">
                                                <option value="1">king deal $50.00</option>
                                                <option value="2">Tikka Kabab $10.00</option>
                                                <option value="3">Qorma with Rice $23.00</option>
                                                <option value="4">Samosa $5.00</option>
                                                <option value="5">Kheer $15.00</option>
                                                <option value="6">Halwa $14.00</option>
                                                <option value="7">Chapli Kabab $12.00</option>
                                                <option value="8">Karahi Gosht $31.00</option>
                                                <option value="9">Biryani $27.00</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <span class="form-label">Quantity</span>
                                            <select class="form-control" name="quantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <span class="form-label">Payment</span>
                                            <select class="form-control">
                                                <option>Cash</option>
                                                <option>Card</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-btn">
                                    <button class="submit-btn">Order Now</button><label>@Model</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>